QPushButton{
    background: transparent;
    font: 17px 'Segoe UI', 'Microsoft YaHei';
}

QPushButton:hover{
    background-color: rgba(0, 0, 0, 20);
}

QPushButton:pressed{
    background: rgba(0, 0, 0, 50);
}